.band {
    height: 5em;
    width: 100%;
    display: flex;
    max-width: 80%;

}

.cell {
    height: 100%;
    width: 100%;
    // min-width: 35px;
    border: 1px solid hsla(0, 0%, 29%, 0.384);
    transition: 100ms all ease-in-out;
    cursor: pointer;
    position: relative;

    &:hover {
        border: 1px solid orange
    }

    &.selected {
        border: 1px solid orange
    }

    &.has-event {
        background-color: orange;
        color: black
    }
}

.dropdown {
    min-width: 300px;
    position: absolute;
    padding: 1em;
    background-color: hsla(0, 0%, 0%, 0.925);
    top: 100%;
    left: -20px;
    transition: 250ms all ease-in-out;
    color: white;

    &::after {
        content: '';
        width: 0em;
        height: 0em;
        // background-color: red;
        position: absolute;
        top: -16px;
        left: 27px;
        border-bottom: 1em solid hsla(0, 0%, 0%, 0.925);
        border-top: 0em solid transparent;
        border-right: 0em solid transparent;
        border-left: 1em solid transparent;
        transform: rotate(-135deg)
    }


    &:hover {
        background-color: hsla(0, 0%, 0%, 0.925);
    }


}