.nav-ctn {
    height: 10vh;
    position: relative;
    border-bottom: 1px solid #151515;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .btn-ctn {
        display: flex;
        justify-content: space-evenly;
        width: 30%;
        align-items: center;
    }
}